/*

RESET

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

nav{
    height: 80px;
}

.debug nav{
    background-color: #7C99A2;
}


.colbar1{
    width: 20%;
    height: 30px;
    vertical-align: middle;
    

}

.colbar2{
    width: 40%;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    
}

.colbar3{
    width: 20%;
    text-align: end;
    vertical-align: middle;
    height: 30px;
    
}

.bar{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.debug .colbar1{
    background-color: #DAA520;
    border: 2px dashed black;
}

.debug .colbar2{
    background-color: #DAA520;
    border: 2px dashed black;
}

.debug .colbar3{
    background-color: #DAA520;
    border: 2px dashed black;
}

.header-container{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.debug .header-container{
    background-color: #00008B;
}

.header-topic{
    height: 400px;
    width: 60%;
 
}

.debug .header-topic{
    background-color: #EE82EE;
    border: 2px dashed black;
}

.first-main-container{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.debug .first-main-container{
    background-color: white;
}

.first-main-column1{
    height: 450px;
    width: 60%;

}

.first-main-column2{
    height: 450px;
    width: 30%;

}

.debug .first-main-column1{
    background-color: #1E90FF;
    border: 2px dashed black;
}

.debug .first-main-column2{
    background-color: #FFC0CB;
    border: 2px dashed black;
}

.second-main-container{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.debug .seocnd-main-container{
    background-color: #D3D3D3;
}

.second-main-column2{
    height: 450px;
    width: 60%;

}

.second-main-column1{
    height: 450px;
    width: 30%;

}

.debug .second-main-column2{
    background-color: #1E90FF;
    border: 2px dashed black;
}

.debug .second-main-column1{
    background-color: #FFC0CB;
    border: 2px dashed black;
}

.fourth-main-container{
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.debug .fourth-main-container{
    background-color: #9E9E9E;
}



.fourth-main-topic{
    height: 800px;
    width: 90%;

}


.debug .fourth-main-topic{
    background-color: #228B22;
    border: 2px dashed black;
}

.top-footer{
    height: 500px;
    display: flex;
    justify-content: center;
}

.debug .top-footer{
    background-color: #19061A;
}

.column-container{
    height: 450px;
    width: 90%;
    display: flex;
    flex-direction: row;
    border: 2px dashed black;
    margin-top: 10px;
}

.debug .column-container{

}

.big-column{
    height: 450px;
    width: 40%;
    display: flex;
    justify-content: flex-start;
}

.debug .big-column{
    background-color: #F08080;
    border: 2px dashed black;
}



.first-small-column{
    height: 450px;
    width: 25%;
}

.debug .first-small-column{
    background-color: #20B2AA;
    border: 2px dashed white;
}

.second-small-column{
    height: 450px;
    width: 25%;  

}

.debug .second-small-column{
    background-color: #20B2AA;
    border: 2px dashed white;
}

.third-small-column{
    height: 450px;
    width: 25%;
}

.debug .third-small-column{
    background-color: #20B2AA;
    border: 2px dashed white;
}

.fourth-small-column{
    height: 450px;
    width: 25%;
}

.debug .fourth-small-column{
    background-color: #20B2AA;
    border: 2px dashed white;
}

.bottom-footer{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.debug .bottom-footer{
    background-color: black;
}

.container-bottom-footer{
    height: 60px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.debug .container-bottom-footer{
    background-color:#20B2AA ;
}

.logo{

}

.debug .logo{
    background-color: #F08080;
    border: 2px dashed black;
}

.bottone{

}

.debug .bottone{
    background-color: #F08080;
    border: 2px dashed black;
}